{% include base_path %}
{% assign larrow_src = "/images/larrow.png" %}
{% assign rarrow_src = "/images/rarrow.png" %}
{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}"><img src="{{larrow_src | prepend: base_path}}"/></a>
    {% else %}
      <a href="#" class="pagination--pager disabled"><img src="{{larrow_src | prepend: base_path}}"/></a>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}"><img src="{{rarrow_src | prepend: base_path}}"/></a>
    {% else %}
      <a href="#" class="pagination--pager disabled"><img src="{{rarrow_src | prepend: base_path}}"/></a>
    {% endif %}
  </nav>
{% endif %}